* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: #FF9900;
    --light-grey-color: #A9A9A9;
    --dark-grey-color: #343434;
    --bg-color: #000;

    --txt-color-light: #fff;
    --txt-color-dark: #000;
}

body {
    background-color: var(--bg-color);
    display: grid;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: var(--txt-color-light)
}

.container {
    width: 25vw;   
    height: 80vh;

    background-color: rgb(28, 28, 28);
    align-self: center;   
    justify-self: center;
    border-radius: 8px;
    padding: 1.6rem;
}

.display {
    height: 15vh;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-right: 1em;
    margin-bottom: 1rem;
}

.display h3 {
    font-size:5em;
    font-weight: 300;
}

.keys-calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 8px;
}

button {
    width: 6rem;
    height: 6rem;
    border-radius: 9999px;
    outline: none;
    border: none;

    font-size: 2.5rem;
    color: var(--txt-color-light);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: filter .3s;
}

button:hover {
    filter: brightness(0.8);
}

button:active {
    filter: brightness(0.95);
}

.opBtn {
    background-color: #FF9900;
}

.grayBtn {
    background-color: #343434;
}

.whiteBtn, #btnRadical
#btnPercent {
    background-color: #A9A9A9;
}

#btn0 {
    width: 100%;
    grid-column: 1 / 3;
    justify-content: flex-start;
    padding-left: 3rem;
}